body {
    font-family: 'Roboto', sans-serif;
    background-color: #dddddd;
}

header {
    background-color: #29b1dd
}

h1 {
    font-family: 'Fredoka One', cursive;
}

.logo {
    padding-top: 10px;
    background-color: white;
    color: #29b1dd;
}

#select-container {
    padding: 14px;
    display: flex;
    justify-content: center;
}

select {
    max-width: 400px;
}

select option{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

.card {
    aspect-ratio: 16/9;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.card i {
    font-size: 2rem;
}
